.option2-cont {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0.7rem 0.7rem;
  position: relative;
}
.option2-cont > div {
  flex: 1;
}
.option2-cont > div:first-child {
  display: flex;
  gap: 1rem;
}
.open_btn2 {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  color: seagreen;
  font-size: 2rem;
}
.option2-cont-main {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.option2-first {
  font-weight: 600;
}
.money {
  display: flex;
  align-items: center;
}
