.option2-cont {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0.7rem 0.7rem;
  position: relative;
  border-bottom: 1px solid gray;
}
.option2-cont > div {
  flex: 1;
}
.option2-cont > div:first-child {
  display: flex;
  gap: 1rem;
}
.open_btn {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
