.main_cont {
  min-height: 100vh;
  padding: 0 2rem;
}
.control_bar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 1.2rem;
}
.control_bar > button {
  background-color: seagreen;
  color: white;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
}
.tab_select {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
  background-color: white;
}
.tab_select div {
  padding-bottom: 0.5rem;
  width: 15rem;
  text-align: center;
  border-bottom: 0.2rem solid black;
  cursor: pointer;
}
.unselected_box {
  opacity: 0.3;
}
